<%- include('partials/header') %>

<header>
  <nav>
    <div class="logoNavStuff">
      <a class="navBar" href="/"><img src="/images/Logo.png" alt="LA" class="logoimg" /></a>
      <button class="logoTxt" type="submit"><a href="/">In<%= title %></a></button>
    </div>
    <ul>
      <li><a class="navBar" id="active" href="/">Home</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/gifs">Gifs</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/videos">Videos</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/favorites">Favorites</a></li>
    </ul>
    <div class="oAuth navBar">
      <% if (user) { %>
      <a class="navBar" href="/logout"><i class="material-icons left">turned_in</i>Log Out</a>
      <% } else { %>
      <a class="navBar" href="/auth/google"><i class="material-icons left">turned_in_not</i>Sign Up/In</a>
      <% } %>
    </div>
  </nav>
</header>
<main>
  <h1><strong>In</strong><%= title %></h1>
  <div class="container">
    <div id="homeImg">
      <img class="deerImg" src="/images/deer-silhouette.png" alt="Deer" />
    </div>

    <Section>
      <li><a class="navBar" href="/gifs">Gifs</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/videos">Videos</a></li>
      <li class="divLine">||</li>
      <li><a class="navBar" href="/favorites">Favorites</a></li>
    </Section>
  </div>
  <%- include('partials/footer') %>