body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logoimg {
  height: 50px;
  border-radius: 50%;
}

main {
  background-image: '/images/Logo.png';
}