* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/images/background-image.png") no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; /* fix */
  min-width: 100%;
  top: 0;
  left: 0;
  background-color: #ffb4a2;
  font-family: 'Courier New', 'Courier', 'monospace';
}

/* Heading and Nav */
header {
  height: 4.6rem;
}

.logoimg {
  height: 4rem;
}

#logoTxt {
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Courier New', 'Courier', 'monospace';
  text-align: center;
  background: linear-gradient(-180deg, #b5838d, #ffb8c6);
  padding: 0 1rem ;
  text-decoration: none;
  box-shadow: none;
}

.navBar {
  color: #6d6975;
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.navBar:hover, #active:hover {
  color: #ffcdb2;
  background-color: #6d6975;
  opacity: 75%;
  font-style: bold;
}

#active {
  color: #ffcdb2;
  background-color: #ffcdb2;
  font-style: bold;
  height: .5rem;
}

.divLine {
  color: #e2daf5;
  font-weight: bolder;
}

/* Body content */
body {
  font-family: 'Courier', 'Courier New', 'monospace';
  height: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 2rem;
  width: auto;
  height: auto;
}

h1 {
  color: #6d6975;
  margin: .5rem;
  text-decoration: underline #ffcdb2 dotted;
  text-shadow: 2px 2px #ffcdb2;
}

#homeImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 50%;
}

.deerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 80%;
  min-width: 40%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section > li {
  padding: 1rem .5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 80%;
}

.container > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2daf5;
  width: 80%;
  height: auto;
  padding: .5rem;
  margin: 1rem;
  border: 1rem solid #6d6975;
}

.container > iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2daf5;
  width: 100%;
  max-width: 150%;
  padding: .5rem;
  margin: 1rem;
  border: 1rem solid #6d6975;
}

h2 {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  padding: 1rem;
}

/* heart */
.heartImg {
  width: 4rem;
}
.favBtn {
  background: none;
  border: none;
}

.favBtn:hover, .deleBtn:hover {
  animation: pulse 1.5s ease infinite;
}

/* ^^^ */
.deleBtn {
  font-family: 'futura', 'courier new';
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  background: none;
  border: none;
  padding: 1rem;
  margin: 0;
}

/* Submit actions */
#submitTitle {
  font-size: 2rem;
  font-weight: bold;
}

label {
  color: black;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  width: 60%;
}

#formBtns {
  flex-direction: row;
}

::placeholder {
  color: #6d6975;
  opacity: 90%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  font-size: 1.25rem;
}

li {
  font-size: 1rem;
  list-style: none;
}

strong {
  font-weight: bold;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6d6975;
  width: 80%;
  max-width: 100%;
  margin: 0;
  padding: .75rem;
}

#inputForm {
  background-color: #ffcdb2;
  border: 1px solid #6d6975;
  font-size: 1.5rem;
  width: 80%;
  max-width: 100%;
  margin: 0;
  padding: .25rem .5rem;
}

#createdByInput {
  background-color: #ffcdb2;
  border: 1px solid #6d6975;
  color: #6d6975;
  width: 100%;
  padding: .5rem;
  text-align: center;
}

textarea {
  background-color: #ffcdb2;
  border: 1px solid #6d6975;
  width: 135%;
  height: 10vh;
  padding: .5rem;
}

select {
  color: gold;
  text-align: center;
  display: block;
}

#submitBtn {
  color: #6d6975;
  width: 135%;
  margin: 0;
  padding: .75rem;
  border-radius: 50px;
}


/* heart animation */

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
/* ^^^ */

@media only screen and (max-device-width: 480px) {
  html {
    width: fit-content;
  }

  .navBar {
    color: #6d6975;
    font-weight: bold;
    font-size: .50rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }

  #logoTxt {
    font-size: .50rem;
  }
  
  h1 {
    font-size: 2rem;
  }
}