html {
  margin: 0;
  padding: 0;
  background-image: url("/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffb4a2;
}


body {
  font: 14px 'Courier', 'Courier New', 'monospace';
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  min-width: 60%;
  min-height: 80%;
  width: auto 80%;
  height: auto 100%;
}

.logoimg {
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: space-between;
  background: linear-gradient(-180deg, #b5838d, #ffb8c6);
  height: 5em;
  padding: 0 1em ;
}

.navBar {
  color: #6d6975;
  font-style: bold;
  justify-content: center;
  align-items: center;
}

.divLine {
  color: #e2daf5;
  font-style: bold;
}